@model IEnumerable<MVCCoreApp.Models.Patient>




<h1>Index - Appointments</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Patient</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Appointment" asp-action="Create" class="btn btn-primary">Add new Patient</a>
        </div>
    </div>
    <br />
    @if(Model.Count() > 0)
    {
        <table class=" table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Full Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td width="33%">
                            <a asp-controller="Appointment" asp-route-id="@item.Id" 
                            asp-action="Details" class="btn btn-info">@item.Name</a>
                         </td>
                        <td width="33%">@item.Surname</td>
                        <td width="33%">@item.FullName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>no items</p>
    }
</div>

