@model IEnumerable<Patient>




<h1>Index - Appointments</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Patient</h2>
        </div>
        <div class="col-6">
            Add new patient
        </div>
    </div>

    @if(Model.Count() > 0)
    {
        <table class=" table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Next Visit
                    </th>
                    <th>
                        Last Visit
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td width="20%"></td>
                        <td width="20%">@item.Name</td>
                        <td width="20%">@item.Surname</td>
                        <td width="20%">@item.NextVisit</td>
                        <td width="20%">@item.LastVisit</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <br />
</div>

